@import "../02-basics/config"

.banner
  background:
    image: url("../images/banner-illustration.jpg")
    size: 100%
    repeat : no-repeat
    position: center bottom
  margin-bottom: 50px
  .banner-descr
    margin-top: 100px
    h4
      margin-top: 50px
    .banner-button
      margin-top: 50px
      margin-bottom: 300px
@media (max-width: $screen-md-max)
  .banner
    background:
      size : 100%
    .banner-descr
      .banner-button
        margin-bottom: 250px

@media (max-width : $screen-sm-max)
  .banner
    background:
      size : 150%
    .banner-descr
      margin-top: 0
      h4
        margin-top: 0
      .banner-button
        margin-top: 0
        margin-bottom: 300px

@media (max-width : $screen-xs-max)
  .banner
    background:
      size : 200%
    .banner-descr
      .banner-button
        margin-bottom: 180px
@media (min-width: 350px) and (max-width: $screen-xs-max)
  .banner
    background:
      size : 200%
    .banner-descr
      .banner-button
        margin-bottom: 250px


// Services
.row.services
  @include gradient(179deg, #83ABFF 1%, #7697DC 99%)
  .header
    background:
      image: url("../images/header-bg-icons.png")
      size: 100%
      attachment: fixed
      repeat : repeat
    padding: 50px 0
    h2
      color: $white !important
      &:after
        content: ''
        display: block
        width: 100%
        height: 4px
        background-color: $lightBlue3
        margin-top: 10px
        @include border-radius(10px)
    p
      color: $lightBlue1
.row.service-data
  margin-top: 50px
  margin-bottom: 50px

@media (max-width : $screen-sm-max)
  .row.services
    .header
      padding: 50px 0
