@import "../02-basics/colors.sass"

nav
  position: absolute
  bottom: 0px
  width: 100%
  display: block
  background-color: $bgGray
  height: 60px
  logo
    display: block
    float: left
    background-color: $bgGrayDark1
    a
      text-decoration: none
      padding: 20px 25px
      display: block
      float: left
      h4
        font-size: 20px
        padding: 0
        line-height: 20px
        margin: 0
        font-weight: normal
        color: $bermudaGray
        float: left
    &:hover
      background-color: $bgGrayDark2
  menu
    display: block
    margin: 0 auto
    ul
      text-align: center
      margin: 0
      padding: 0
      li
        text-align: center
        display: inline-block
        a
          display: inline-block
          text-decoration: none
          color: $bermudaGray
          padding: 22px 20px
          font-size: 16px
          &:hover
            background-color: $bgGrayDark1
        ul.sub-menu
            display: none
            li
              a
                padding-top: 26px
                font-size: 12px
                color: $lightBermudaGray
        &.active
          ul.sub-menu
            display: inline-block
  .nav-buttons
    float: right
    display: block
    ul
      padding: 0
      margin: 0
      display: table
      li
        display: table-cell
        border-left: $bgGrayDark3 1px solid
        a
          height: 20px
          padding: 20px
          display: table-cell
          vertical-align: middle
          svg
            display: inline
            g
              fill : $bgGrayDark4
        &:hover
          background-color: $bgGrayDark1
          svg
            g
              fill: $bermudaGray
        &.disabled
          cursor: default
          &:hover
            background-color: transparent
            svg
              g
                fill: $bgGrayDark4
        &.enabled
          background-color: $bgGrayDark1
          svg
            g
              fill: $bermudaGray
          &:hover
            background-color: $bgGrayDark3
