@import "../02-basics/colors.sass"

nav
  position: fixed
  bottom: 0px
  width: 100%
  display: block
  background-color: $bgGray
  height: 60px
  z-index: 100
  logo
    display: block
    float: left
    background-color: $bgGrayDark1
    border-right: $bgGrayDark3 1px solid
    a
      text-decoration: none
      padding: 20px 25px
      display: block
      float: left
      h4
        font-size: 20px
        padding: 0
        line-height: 20px
        margin: 0
        font-weight: normal
        color: $bermudaGray
        float: left
    &:hover
      background-color: $bgGrayDark2
  menu
    display: block
    margin: 0 auto
    ul
      text-align: center
      margin: 0
      padding: 0
      li
        text-align: center
        display: inline-block
        a
          display: inline-block
          text-decoration: none
          color: $bermudaGray
          padding: 20px 20px
          border-top: 2px solid transparent
          font-size: 16px
          &:hover
            background-color: $bgGrayDark1
            text-decoration: none
        ul.sub-menu
            display: none
            li
              a
                padding-top: 26px
                font-size: 12px
                color: $lightBermudaGray
        &.active
          a
            padding-top: 20px
            border-top-color: $lightBermudaGray
            background-color: $bgGrayDark1
            &:hover
              background-color: $bgGrayDark2
          ul.sub-menu
            display: inline-block
            li
              a
                border: none
                background-color: transparent
                &:hover
                  background-color: $bgGrayDark1
                  text-decoration: none
              &.active
                a
                  color: $bermudaGray
  .nav-buttons
    float: right
    display: block
    ul
      padding: 0
      margin: 0
      display: table
      li
        display: table-cell
        border-left: $bgGrayDark3 1px solid
        a
          height: 20px
          padding: 20px
          display: table-cell
          vertical-align: middle
          svg
            display: inline
            g
              fill : $bgGrayDark4
        &:hover
          background-color: $bgGrayDark1
          svg
            g
              fill: $bermudaGray
        &.disabled
          cursor: default
          &:hover
            background-color: transparent
            svg
              g
                fill: $bgGrayDark4
        &.enabled
          background-color: $bgGrayDark1
          svg
            g
              fill: $bermudaGray
          &:hover
            background-color: $bgGrayDark2
@media(max-width : 850px)
  nav
    menu
      ul
        li.active
          ul.sub-menu
            display: none
@media(max-width: 500px)
  nav
    logo
      a
        padding: 20px 15px
        h4
          font-size: 16px
    menu
      ul
        li
          a
            padding: 23px 15px
            font-size: 12px
          &.active
            a
              padding-top: 23px
    .nav-buttons
      display: none
